<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>WBLZKR1VtSHVB2PwpLV73MGWe4NnbDpvjipcPz1cgtjUPc6ZGOUiY7yBvobSYOK/81rZ7QCKNXbdfwwbkPL01RgFRB6roF4SvLO7M4UFrSY24IGqJyCBGH/Hh0GyWt5bzwQP0qjJn2d5WSq4gfn+R9xgaT5lNEsdrPbn37sJdPE=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>Gq+Sm4Pc04oOKOyvMHSvdbMMV94J645+LkJlNj7sNI52lBBI8PzZ1UgHO9YHWM5I/DSLqGztCllmZ8i5RCE8uVyLlk4MaztlzkcPaNK8rfpDLz9kwIWLmwTwFg5yOLEaQ9hROxI0MK+aEiPebqOod1oLW5zgjK3Nwn4eURD5FxBv1l/Lil4hu1jZnc+2v/sqde00QbsE1mS713qt08tGzuIYk15MOUWei5lHoRA/6SwQ8l8EvtgmAvT3AiG4SsUqT1/6oW1VD/ayzkjaiyGRPQ==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>